{% extends 'base3.html' %}

{% block haed %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
  <p class="text-center">Here will be few pictures displayed up front. You have to figure out the connecting link between the pictures and form up a word or a phrase wihich will be your answer.
  
  </p>
    {% for paheli in paheli_imgs %}
        <div class="card" style="width:400px">
          <img class="card-img-top" src="{{ paheli.photo }}" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <a href="#" class="btn btn-primary">Submit</a>
          </div>
        </div>
        {% endfor %}
</div>
{% endblock %}