<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <title>AVIRBHAV2k19 | Season 8 </title>
    <!--[if IE 8]>
    <link rel="stylesheet" href="/static/events/dance/themes/eventory/css/ie8.css" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className + ' yes-js js_active js'
    </script>
    <style>
        .wishlist_table .add_to_cart,
        a.add_to_wishlist.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "http:\/\/wordpress.templaza.net\/eventory\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.7"
            }
        };
        ! function(a, b, c) {
            function d(a, b) {
                var c = String.fromCharCode;
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                var d = k.toDataURL();
                l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                var e = k.toDataURL();
                return d === e
            }

            function e(a) {
                var b;
                if (!l || !l.fillText) return !1;
                switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                    case "flag":
                        return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                    case "emoji":
                        return b = d([55357, 56692, 8205, 9792, 65039], [55357, 56692, 8203, 9792, 65039]), !b
                }
                return !1
            }

            function f(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var g, h, i, j, k = b.createElement("canvas"),
                l = k.getContext && k.getContext("2d");
            for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function() {
                c.DOMReady = !0
            }, c.supports.everything || (h = function() {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function() {
                "complete" === b.readyState && c.readyCallback()
            })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='/static/events/dance/plugins/contact-form-7/includes/css/styles.css?ver=5.0.3' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='/static/events/dance/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.4.4' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='/static/events/dance/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=3.4.4' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='/static/events/dance/plugins/woocommerce/assets/css/woocommerce.css?ver=3.4.4' type='text/css' media='all' />
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='wp-pagenavi-css' href='/static/events/dance/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='/static/events/dance/plugins/woocommerce/assets/css/prettyPhoto.css?ver=3.4.4' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-selectBox-css' href='/static/events/dance/plugins/yith-woocommerce-wishlist/assets/css/jquery.selectBox.css?ver=1.2.0' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='/static/events/dance/plugins/yith-woocommerce-wishlist/assets/css/style.css?ver=2.2.3' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-font-awesome-css' href='/static/events/dance/plugins/yith-woocommerce-wishlist/assets/css/font-awesome.min.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom_eventory_css-css' href='/static/events/dance/themes/eventory/css/custom/custom_eventory_css.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='style-css' href='/static/events/dance/themes/eventory/style.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap.css-css' href='/static/events/dance/themes/eventory/css/bootstrap.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-responsive.css-css' href='/static/events/dance/themes/eventory/css/bootstrap-responsive.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='google-font-css' href='/static/events/dance/css?family=Open+Sans%3A400%2C300%2C700&#038;ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='google-font-Raleway-css' href='/static/events/dance/css?family=Raleway%3A400%2C300%2C700&#038;ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome.css-css' href='/static/events/dance/themes/eventory/fonts/font-awesome-4.2.0/css/font-awesome.min.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='tzportfolio-css' href='/static/events/dance/themes/eventory/css/tzportfolio.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='template.css-css' href='/static/events/dance/themes/eventory/css/template.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='megamenu.css-css' href='/static/events/dance/themes/eventory/css/megamenu.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='megamenu-responsive.css-css' href='/static/events/dance/themes/eventory/css/megamenu-responsive.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='megamenu2.css-css' href='/static/events/dance/themes/eventory/css/megamenu2.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='megamenu-responsive2.css-css' href='/static/events/dance/themes/eventory/css/megamenu-responsive2.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='off-canvas.css-css' href='/static/events/dance/themes/eventory/css/off-canvas.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='owl.carousel-css-css' href='/static/events/dance/themes/eventory/css/owl.carousel.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='countdown.css-css' href='/static/events/dance/themes/eventory/css/countdown.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='settings.css-css' href='/static/events/dance/themes/eventory/css/settings.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='jplayer.blue.flag.css-css' href='/static/events/dance/themes/eventory/css/jplayer.blue.flag.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='custom_menu.css-css' href='/static/events/dance/themes/eventory/css/custom_menu.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='eventory.css-css' href='/static/events/dance/themes/eventory/css/eventory.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='footer-css' href='/static/events/dance/themes/eventory/css/footer.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='perfect-scrollbar-css' href='/static/events/dance/themes/eventory/css/perfect-scrollbar.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-sidebar-css' href='/static/events/dance/themes/eventory/css/custom-sidebar.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcode-css' href='/static/events/dance/themes/eventory/css/shortcode.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='event-responsive-css' href='/static/events/dance/themes/eventory/css/event-responsive.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='p_event-css' href='/static/events/dance/themes/eventory/css/p_event.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='blog-css' href='/static/events/dance/themes/eventory/css/blog.css?ver=4.9.7' type='text/css' media='all' />
    <link rel='stylesheet' id='flexslider-css' href='/static/events/dance/themes/eventory/css/flexslider.css?ver=4.9.7' type='text/css' media='all' />

    <script type='text/javascript' src='/static/events/dance/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='/static/events/dance/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>

    <style type="text/css">
        /*social color*/

        .tzsocialfont {
            color: #a6a6a6 !important;
            font-size: 19px !important;
        }

        .about-bk {
            background: #000000;
            opacity: 0.3;
        }

        body#bd {
            background: #000000 !important;
        }

        .woocommerce .cart_totals:last-child {
            display: none !important;
        }

        body#bd {
            background: #222222 !important;
        }
    </style>

    <script type="text/javascript">
        var themeprefix = 'plazart';
    </script>
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
</head>

<body id="bd" class="home page-template page-template-template-home page-template-template-home-php page page-id-11 woocommerce-no-js tribe-no-js">

    <section id="tz-home-page">

        <ol class="curtains">
            <li id="section-1" class="cover">
                <div class="event-overlay"></div>
                <img width="1920" height="1080" src="/static/events/dance/img/solo.jpg" class="event-image wp-post-image" alt="" />
                <div class="event-description">
                    <h3 class="event-title" style="margin-top: 0px;top: 20px;"><a class="event-title" href="#"> Kissed by Fire <br> (Solo dance) </a></h3>
                    <!--end class event-title-->
                    <div class="event-introtext">
                        <p>Display your individual brilliance, be the star of the stage that’s all yours.</p>
                        <h4>RULES- </h4>
                        <ul style="color: #fff;">
                            <li>From each team minimum of two participants are required and maximum limit is of three participants.</li>
                            <li>Time limit is 2-3:30 mins.</li>
                            <li>Participants are allowed to use props. Extra points will be awarded for the same.</li>
                            <li>The participants are requested to submit their track one day prior the event to the coordinator before 6 p.m., otherwise the participant will be disqualified.</li>
                            <li>The decision of judges will be final. </li>
                        </ul>
                    </div>
                    <!--end class event-introtext-->
                </div>
                <!--end class PsiElement(CSS_CLASS)-->
                <ul class="menu_curtain">
                    <li><a href="#section-2"><i class="fa fa-arrow-circle-o-down"></i>Scroll down</a></li>
                </ul>
                <!--end class menu_curtain-->
            </li>
            <li id="section-2" class="cover">
                <div class="event-overlay"></div>
                <img width="1920" height="1080" src="/static/events/dance/img/DANCE_DUET_WEBSITE.jpg" class="event-image wp-post-image" alt="" />
                <div class="event-description">
                    <h3 class="event-title"><a class="event-title" href="http://wordpress.templaza.net/eventory/special-guest/">Two Swords<br>(Duet dance) </a></h3>
                    <!--end class event-title-->
                    <div class="event-introtext">
                        <p>Two is the best company. Choose the most compatible partner, and deliver a power pack performance with the best chemistry.</p>
                        <h4>RULES-</h4>
                        <ul>
                            <li>From each team minimum of 2 entries and max 3 entries will be entertained.</li>
                            <li>Time limit is 2-3 mins.</li>
                            <li>The participants are requested to submit their tracks one day prior the event to the coordinator before 6 p.m. otherwise the participant will be disqualified. </li>
                            <li>The decision of judges will be final.</li>
                        </ul>
                    </div>
                    <!--end class event-introtext-->
                </div>
                <!--end class PsiElement(CSS_CLASS)-->
            </li>
            <li id="section-3" class="cover">
                <div class="event-overlay"></div>
                <img width="1920" height="1080" src="/static/events/dance/img/GROUP_DANCE_WEBs.jpg" class="event-image wp-post-image" alt="" />
                <div class="event-description">
                    <h3 class="event-title"><a class="event-title" href="http://wordpress.templaza.net/eventory/quisque-sagittis-nulla/">The dance of dragons<br>( Group dance) </a></h3>
                    <!--end class event-title-->
                    <div class="event-introtext">
                        <p>It is not about having best dancers. It is all about having the best team.</p>
                        <h4>RULES-</h4>
                        <ul>
                            <li>One group per team is required.</li>
                            <li>A group shall be made up of at least 4 members.</li>
                            <li>Time limit is 3-4 mins.</li>
                            <li>The participants are requested to submit their track one day prior the event to the coordinator before 6 p.m., otherwise the participant will be disqualified.</li>
                            <li>The decision of judges will be final.</li>
                            <li>Theme for group dance is FUSION. For further queries feel free to contact the event coordinators.</li>
                            <li>The participants will be judged on the basis of their rhythm, formations, synchronization and most importantly on the way they use the given theme (FUSION).</li>
                        </ul>
                    </div>
                    <!--end class event-introtext-->
                </div>
                <!--end class PsiElement(CSS_CLASS)-->
            </li>
            <li id="section-4" class="cover">
                <div class="event-overlay"></div>
                <img width="1920" height="1200" src="/static/events/dance/img/DANCE_FACE_OFF.jpg" class="event-image wp-post-image" alt="" />
                <div class="event-description">
                    <h3 class="event-title"><a class="event-title" href="#">You win or you die<br>( Face off ) </a></h3>
                    <!--end class event-title-->
                    <div class="event-introtext">
                        <p>This is your chance to free yourself and express the best.</p>
                        <h4>RULES-</h4>
                        <ul>
                            <li>One participant per team is allowed.</li>
                            <li>Participants are requested to inform their names and their dance style to the coordinators before 2-3 days.</li>
                            <li>A list of 4-5 songs will be provided to the participants on the spot and they have to choose one song from that to perform.</li>
                            <li>Time limit is 1–1.30 mins.</li>
                            <li>The decision of judges will be final</li>
                        </ul>
                    </div>
                    <!--end class event-introtext-->
                </div>
                <!--end class PsiElement(CSS_CLASS)-->
            </li>

        </ol>
    </section>
    <!--end id tzhomepage-->


    <script>
        (function(body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
    </script>
    <script>
        /* <![CDATA[ */
        var tribe_l10n_datatables = {
            "aria": {
                "sort_ascending": ": activate to sort column ascending",
                "sort_descending": ": activate to sort column descending"
            },
            "length_menu": "Show _MENU_ entries",
            "empty_table": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "info_empty": "Showing 0 to 0 of 0 entries",
            "info_filtered": "(filtered from _MAX_ total entries)",
            "zero_records": "No matching records found",
            "search": "Search:",
            "all_selected_text": "All items on this page were selected. ",
            "select_all_link": "Select all pages",
            "clear_selection": "Clear Selection.",
            "pagination": {
                "all": "All",
                "next": "Next",
                "previous": "Previous"
            },
            "select": {
                "rows": {
                    "0": "",
                    "_": ": Selected %d rows",
                    "1": ": Selected 1 row"
                }
            },
            "datepicker": {
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "nextText": "Next",
                "prevText": "Prev",
                "currentText": "Today",
                "closeText": "Done"
            }
        };
        var tribe_system_info = {
            "sysinfo_optin_nonce": "76d6a220b9",
            "clipboard_btn_text": "Copy to clipboard",
            "clipboard_copied_text": "System info copied",
            "clipboard_fail_text": "Press \"Cmd + C\" to copy"
        }; /* ]]> */
    </script>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script type='text/javascript' src='/static/events/dance/plugins/contact-form-7/includes/js/scripts.js?ver=5.0.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_add_to_cart_params = {
            "ajax_url": "\/eventory\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/eventory\/?wc-ajax=%%endpoint%%",
            "i18n_view_cart": "View cart",
            "cart_url": "http:\/\/wordpress.templaza.net\/eventory\/cart\/",
            "is_cart": "",
            "cart_redirect_after_add": "no"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/static/events/dance/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js?ver=3.4.4'></script>
    <script type='text/javascript' src='/static/events/dance/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
    <script type='text/javascript' src='/static/events/dance/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var woocommerce_params = {
            "ajax_url": "\/eventory\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/eventory\/?wc-ajax=%%endpoint%%"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/static/events/dance/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=3.4.4'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = {
            "ajax_url": "\/eventory\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/eventory\/?wc-ajax=%%endpoint%%",
            "cart_hash_key": "wc_cart_hash_8dc3dbf2d578c9303f2c4e0ca8799cb2",
            "fragment_name": "wc_fragments_8dc3dbf2d578c9303f2c4e0ca8799cb2"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/static/events/dance/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=3.4.4'></script>
    <script type='text/javascript' src='/static/events/dance/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'></script>
    <script type='text/javascript' src='/static/events/dance/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min.js?ver=1.2.0'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var yith_wcwl_l10n = {
            "ajax_url": "\/eventory\/wp-admin\/admin-ajax.php",
            "redirect_to_cart": "no",
            "multi_wishlist": "",
            "hide_add_button": "1",
            "is_user_logged_in": "",
            "ajax_loader_url": "http:\/\/wordpress.templaza.net\/eventory\/wp-content\/plugins\/yith-woocommerce-wishlist\/assets\/images\/ajax-loader.gif",
            "remove_from_wishlist_after_add_to_cart": "yes",
            "labels": {
                "cookie_disabled": "We are sorry, but this feature is available only if cookies are enabled on your browser.",
                "added_to_cart_message": "<div class=\"woocommerce-message\">Product correctly added to cart<\/div>"
            },
            "actions": {
                "add_to_wishlist_action": "add_to_wishlist",
                "remove_from_wishlist_action": "remove_from_wishlist",
                "move_to_another_wishlist_action": "move_to_another_wishlsit",
                "reload_wishlist_and_adding_elem_action": "reload_wishlist_and_adding_elem"
            }
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/static/events/dance/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwl.js?ver=2.2.3'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/bootstrap.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery-migrate.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/off-canvas.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/menu.js?ver=4.9.7'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var theme_color = {
            "theme_color_type": "default"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/page.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery.parallax-1.1.3.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery.localscroll-1.2.7-min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery.ui.totop.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/resizeimage.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/tz_eventory.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery.simplyscroll.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery.jplayer.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jplayer.playlist.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/jquery.themepunch.showbizpro.min.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/owl.carousel.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/countdown.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/eventory.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/perfect-scrollbar.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/curtain.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/themes/eventory/js/home-page.js?ver=4.9.7'></script>
    <script type='text/javascript' src='/static/events/dance/wp-embed.min.js?ver=4.9.7'></script>

</body>

</html>
