{% extends 'base.html' %}


{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .baratheon:hover .bp {
            visibility: visible;
        }

        .lanister:hover .lp {
            visibility: visible;
        }

        .targaryen:hover .tp {
            visibility: visible;
        }

        .stark:hover .sp {
            visibility: visible;
        }

        .wall {
            height: 1100px;
            width: 100%;
            background-image: url(/static/index/flags/Ejuu1r9.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        .points {
            visibility: hidden;
            width: 100px;
            height: 25px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }



        .slideshow-main {
            background-image: url(/static/index/imgs/got_map.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
        }

    </style>

{% endblock %}

{% block body %}
    <div class="slideshow-main">
        <div class="container">
            <div id="houses" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#houses" data-slide-to="0" class="active"></li>
                    <li data-target="#houses" data-slide-to="1"></li>
                    <li data-target="#houses" data-slide-to="2"></li>
                    <li data-target="#houses" data-slide-to="3"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/index/imgs/House-Baratheon.jpg" alt="House-Baratheon" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/index/imgs/House-Lannister.jpg" alt="House-Lannister" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/index/imgs/House-Stark.jpg" alt="House-Stark" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/index/imgs/House-Targaryen.jpg" alt="House-Targaryen" width="1100" height="500">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#houses" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
                <a class="carousel-control-next" href="#houses" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
            </div>
        </div>
    </div>

    <div class="container-fluid wall">
        <div class="container">
            <div class="row wall" style="">
                <div class="col-3 col-md-3 col-sm-3 baratheon" style="top: 150px">
                    <span class="points bp">Points: {{baratheons}}</span><br>
                    <h2 class="font-weight-bolder" style="color: #fdc413">Baratheons</h2>
                    <img src="/static/index/flags/baratheon-tournament-banner.png" alt="" width="90%">
                </div>
                <div class="col-3  col-md-3 col-sm-3 stark" style="top: 400px">
                    <span class="points sp">Points: {{starks}}</span><br>
                    <h2 class="font-weight-bolder" style="color: #d6d198">House Stark</h2>
                    <img src="/static/index/flags/house_stark_banner_by_tulwarr1-d3r7c8f.png" alt="" width="90%">
                </div>
                <div class="col-3 col-md-3 col-sm-3 lanister" style="top: 100px">
                    <span class="points lp">Points: {{lenisters}}</span><br>
                    <h2 class="font-weight-bolder" style="color: #8b2c1e">Lannisters</h2>
                    <img src="/static/index/flags/lannister_got_tournament_house_banners2.png" alt="" width="90%">
                </div>
                <div class="col-3 col-md-3 col-sm-3 targaryen" style="top: 250px">
                    <span class="points tp">Points: {{targaryens}}</span><br>
                    <h2 class="font-weight-bolder" style="color: #28282d">Targaryens</h2>
                    <img src="/static/index/flags/targaryen-tournament-banner-game-of-thrones-9.png" alt="" width="90%">
                </div>
            </div>
        </div>
    </div>


    <div class="slideshow-main">
        <div class="container">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                    <li data-target="#demo" data-slide-to="3"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/index/imgs/chars/tyrion.jpg" alt="Los Angeles" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/index/imgs/chars/Jon-looking-up-The-Spoils-of-War.jpg" alt="Chicago" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/index/imgs/chars/daenerys-targaryen.jpg" alt="New York" width="1100" height="500">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/index/imgs/chars/Stannis-Baratheon.jpg" alt="New York" width="1100" height="500">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
            </div>
        </div>
    </div>







    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1
            }
            if (n < 1) {
                slideIndex = slides.length
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }

    </script>

{% endblock %}