{% extends 'base3.html' %}

{% block head %}
    <!-- CSS -->
    <!-- Bootstrap CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/css/bootstrap.min.css">
    <!-- Icon Font CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/css/material-design-iconic-font.min.css">
    <!-- Plugins CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/css/plugins.css">
    <!-- Style CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/Stage Craft/style.css">
    <!-- Modernizer JS
	============================================ -->
    <script src="/static/events/singing/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        ol>li {
            padding: 2px;
        }
    </style>

{% endblock %}

{% block body %}
    <!-- Body main wrapper start -->
    <div class="wrapper fix">

            <div id="hero-area" class="hero-area hero-area">

                    <!--Hero Slider-->
                    <div class="hero-slider">
        
                        <!--Hero Slide Item Start-->
                        <div class="hs-item">
                            <!--Hero Slide Image-->
                            <img src="/static/events/Stage Craft/main.jpg" alt="" style="height: 1080px;">
                            <!--Hero Slide Content-->
                            <div class="hs-content text-center">
                                <div class="container">
                                    <h1>It's time to showcase the talent of acting, so, fasten your seat belts, they will roll
                                            your tears down when you would be laughing with joy</h1>
                                </div>
                            </div>
                        </div>
                        <!--Hero Slide Item End-->
        
        
        
                    </div>
        
                </div>
                <!--Hero Area End-->
        
                <!--Feature Area Start-->
                <div id="feature-area" class="feature-area bg-shape left pb-120 pt-120">
                    <div class="container">
        
                        <!--Section Title Start-->
                        <div class="row">
                            <div class="section-title section-title-dark text-center col-xs-12 mb-80">
                                <h1>Featured <span>Events</span></h1>
                            </div>
                        </div>
                        <!--Section Title End-->
        
                        <!--Ganpoka Feature Start-->
                        <div class="row">
        
                            <div class="feature-slider slick-slider">
        
                                <!--Ganpoka Feature Item-->
                                <div class="feature-item">
                                    <div class="image"><img src="/static/events/Stage Craft/1.jpg" alt=""></div>
                                    <div class="content fix">
                                        <div class="left float-left">
                                            <h4><a href="javascript:void(0)">Dragon's tale</a></h4>
                                            <p><a href="javascript:void(0)">Main drama</a></p>
                                        </div>
                                    </div>
                                </div>
        
                                <!--Ganpoka Feature Item-->
                                <div class="feature-item">
                                    <div class="image"><img src="/static/events/Stage Craft/2.jpg" alt="" ></div>
                                    <div class="content fix">
                                        <div class="left float-left">
                                            <h4><a href="javascript:void(0)">The laugh launge</a></h4>
                                            <p><a href="javascript:void(0)"> stand up comedy</a></p>
                                        </div>
                                    </div>
                                </div>
        
                                <!--Ganpoka Feature Item-->
                                <div class="feature-item">
                                    <div class="image"><img src="/static/events/Stage Craft/3.jpg" alt=""></div>
                                    <div class="content fix">
                                        <div class="left float-left">
                                            <h4><a href="javascript:void(0)">हल्लाबोल</a></h4>
                                            <p><a href="javascript:void(0)">Nukkad</a></p>
                                        </div>
                                    </div>
                                </div>
        
                            </div>
        
        
                        </div>
                        <!--Ganpoka Feature End-->
        
                    </div>
                </div>
                <!--Feature Area End-->
        
                <!--Gallery Area Start-->
                <div id="gallery-area" class="gallery-area overlay pb-90 pt-120">
                    <div class="container">
        
                        <!--Section Title Start-->
                        <div class="row">
                            <div class="section-title section-title-light text-center col-xs-12 mb-80">
<h1>Dragon's tale</h1>
                            </div>
                        </div>
                        <!--Section Title End-->
        
                        <div class="text-white">
                            <h1>Rules:</h1>
        
                            <ol class="text-primary" style="font-size: 2.5rem;">
                                    <li>There is no restriction on the theme of the main drama, but it should not hurt the sentiments of any person, group or community.</li>
                                    <li>Violation of the first point will directly lead to disqualification.</li>
                                    <li>Only one dram from each team will be selected.</li>
                                    <li>It should not have more than 12 participants.</li>
                                    <li>Maximum length of the drama should not be more than 14 minutes.</li>
                                    <li>Performance will be judged on the basis of contents, acting (dialogue delivery and expression), and presentation.</li>
                                    <li>Use of abusive language is strictly prohibited.</li>
                                    <li>Decision made by Organizers shall be treated as final</li>
                            </ol>

                            <h4>Organisers:</h4>
                            
                        </div>
        
                    </div>
                </div>
                <!--Gallery Area End-->
        
                <!--Event Area Start-->
                <div id="event-area" class="event-area pb-80 pt-120">
                    <div class="container">
        
                        <!--Section Title Start-->
                        <div class="row">
                            <div class="section-title section-title-light text-center col-xs-12 mb-80">
                                <h1>The laugh launge </h1>
                            </div>
                        </div>
                        <!--Section Title End-->
        
                        <div class="text-white">
                            <h1>Rules:</h1>
        
                            <ol class="text-primary" style="font-size: 2.5rem;">
                                    <li>There is no restriction on the theme.</li>
                                    <li>Only one team from each house is allowed.(It can be solo or duet performance).</li>
                                    <li>Mimicry of teachers and professors is not allowed.</li>
                                    <li>You will not be allowed to speak for more than 10 minutes.</li>
                                    <li>The contents should not hurt the sentiments of any person, group, community or religion.</li>
                                    <li>Vulgarity and use of abusive language is strictly prohibited.</li>
                                    <li>Contents should be original.</li>
                            </ol>
        
                        </div>
        
                    </div>
                </div>
                <!--Event Area End-->
        
                <!--Video Area Start-->
                <div id="video-area" class="video-area overlay pb-100 pt-120">
                    <div class="container">
        
                        <!--Section Title Start-->
                        <div class="row">
                            <div class="section-title section-title-light text-center col-xs-12 mb-80">
                                <h1>हल्लाबोल</h1>
                            </div>
                        </div>
                        <!--Section Title End-->
        
                        <div class="text-white">
                            <h1>Rules:</h1>
        
                            <ol class="text-primary" style="font-size: 2.5rem;">
                                    <li>There is no restriction on the theme of the nukkad Natak, but it should not hurt the sentiments of any person, group or community.</li>
                                    <li>Violation of the first point will directly lead to disqualification.</li>
                                    <li>There is not restriction on number of participants.</li>
                                    <li>Maximum length should not be more than 15 minutes.</li>
                                    <li>Performance will be judged on the basis of contents, acting (dialogue delivery and expression), presentation and synchronization.</li>
                                    <li>Use of abusive language is strictly prohibited.</li>
                                    <li>Decision made by Organizers shall be treated as final.</li>
                            </ol>
        
                        </div>
                    </div>
                </div>
                <!--Video Area End-->

        
        </div>
        <!-- Body main wrapper end -->
    
        <!-- JS -->
    
        <!-- jQuery JS
    ============================================ -->
        <script src="/static/events/singing/js/vendor/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap JS
    ============================================ -->
        <script src="/static/events/singing/js/bootstrap.min.js"></script>
        <!-- Plugins JS
    ============================================ -->
        <script src="/static/events/singing/js/plugins.js"></script>
        <!-- Ajax Mail JS
    ============================================ -->
        <script src="/static/events/singing/js/ajax-mail.js"></script>
        <!-- Main JS
    ============================================ -->
        <script src="/static/events/singing/js/main.js"></script>

        {% endblock %}