{% extends 'base3.html' %}
{% block head %}

<!--[if lt IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html dir="ltr" lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->

    
    <!--[if IE]>
  <script src='http://use.typekit.com/flt1fjp.js'></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <![endif]-->
  <script src='/static/events/Literary/javascripts/jquery-1.8.2.min.js'></script>
    <script src='/static/events/Literary/javascripts/underscore-1.4.2.min.js'></script>
    <script src='/static/events/Literary/javascripts/jquery.fittext.custom.js'></script>
    <script src='/static/events/Literary/javascripts/navigation.js'></script>
{% endblock %}
{% block style1 %}
<link href='/static/events/Literary/stylesheets/style.css' rel='stylesheet' type='text/css' />
{% endblock %}
{% block body %}
    <div class="color-change" id="left"></div>
    <div class="color-change" id="right"></div>
    <div class="color-change" id="top">
        <img src="/static/events/Literary/images/home.png" class="home" />
        <!-- <span class="table-contents">Table of Contents</span> -->
    </div>
    <div class="color-change" id="bottom"></div>

    <div class='navigation'>
        <table>
            <tbody>
                <tr>
                    <td class='intro'><a href="#hindid">आर या पार (Hindi Debate)</a> </td>
                </tr>
                <tr>
                    <td class='preface'><a href="#englishd">Prime Time (English Debate)</a> </td>
                </tr>
                <tr>
                    <td class='rules'><a href="#hindip">काव्यांजलि (Hindi Poetry)</a> </td>
                </tr>
                <tr>
                    <td class='communication'><a href="#englishp">Words Not Spoken (English Poetry)</a></td>
                </tr>
                <tr>
                    <td class='structure'><a href="#mighty">War of Mighty</a></td>
                </tr>
                <tr>
                        <td class='intro'><a href="#open-mic">Open Mic</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id='introduction'>
        <div></div>
        <div class='layout-full' id='4383c5'>
            <div class='introduction'>
                <h2>Let your imagination take flight.</h2>
                <p>Your pen is your sword and words your armor in this clash.</p>
            </div>
            <br><br><br><br><br>
        </div>
    </div>

    <div id='hindid'>
        <div class='layout-full' id='b1ab87'>
            <div class='header'>
                <h1>आर या पार <br>(Hindi Debate)</h1>
                <img src="/static/events/Literary/images/hindi_debate.jpg" class="preface" />
            </div>
            <div class='text-container'>
                <p style="font-weight: bold">There are two rounds . One includes preliminary round and the other one is final round.</p>
                <p>Rules for Preliminary round :</p>
                <ol>
                    <li>There is no restriction on the number of participants from each house.</li>
                    <li>Each house will be given a particular slot for preliminary round.</li>
                    <li>A topic will be given on spot and you have to speak for 2 minutes in favour or against of the topic.</li>
                    <li>Top 8 participants will be selected for the final round.</li>
                    <li>Decisions of the Judges will be treated as final.</li>
                    <li>Completes rules for preliminary round will be posted on the facebook page of AVIRBHAV before start of the event.</li>
                    <li>Rules for final round will be updated after the preliminary round.</li>
                </ol>
            </div>
            <br>
        </div>
    </div>

    <div id='englishd'>
        <div class='layout-full' id='3e5155'>
            <div class='header'>
                <h1>Prime Time <br> (English Debate)</h1>
                <img src="/static/events/Literary/images/english_debate.jpg" class="preface" />
            </div>
            <div class='text-container'>
                <h3>Rules:</h3>
                <ol>
                    <li>This is an online event where participants have to participate individually.</li>
                    <li>Participants have to get themselves involved in a discussion over a given topic.</li>
                    <li>Each topic will be active for 1 day only through the Avirbhav page ( starting time will be informed before the event starts).</li>
                    <li>Each participant much choose a side (for or against the topic) at the beginning of the discussion. They are not allowed to change their standpoint at any further stage of the discussion.</li>
                    <li>Participants may reply to a comment in case they oppose it but they must not deviate from the issue raised in the comment. The initial commenter may defend his/her opinion but must not raise any new issue in between the argument.</li>
                    <li>Extra marks will be awarded to the participant who posts the first comment.</li>
                    <li>At the end of the day participants may share a concluding argument. A participant who has concluded is not allowed to discuss further on the topic.</li>
                    <li>The concluding argument should be in the following format <br> <br><span style="font-weight: bold">Conclusion:</span></li>
                    <li>Each comment must not exceed 150 words.</li>
                    <li>Participants can use Hindi, English or Hinglish. </li>
                    <li>"NO PLAGIARISM" 12. Comments must not violate the decorum of the forum.</li>
                </ol>
            </div>
            <br>
        </div>
    </div>
    <div id='hindip'>
        <div class='layout-full' id='72832e'>
            <div class='header'>
                <h1>काव्यांजलि <br> (Hindi Poetry)</h1>
                <img src="/static/events/Literary/images/hindi_poetry.jpg" class="preface" />
            </div>
            <div class='text-container'>
                <h2>Go ahead n take your heart out.... <br> Poetry is the best way to convey what you have in your heart….</h2>
                <h3>Rules:</h3>
                <ol>
                    <li>The poems can be of any genre like classic Kavita, shaayari(ghazals).</li>
                    <li>The poem should be written in Hindi.</li>
                    <li>The topic of the poem can be anything EXCLUDING controversial topics based on political parties, religion and obscenity.</li>
                    <li>Plagiarism is strictly prohibited and if found will lead to disqualification straight away.</li>
                    <li>Judgement will be based on the rhyme, use of figure of speech, issue being raised.</li>
                    <li>Judge’s decision will be final.</li>
                </ol>
            </div>
            <br>
        </div>
    </div>

    <div id='englishp'>
        <div class='layout-full' id='9fb44d'>
            <div class='header'>
                <h1>Words Not Spoken <br> (English Poetry)</h1>
                <img src="/static/events/Literary/images/love_letter_writing.jpg" class="preface" />
            </div>
            <div class='text-container'>
                <h3>Rules:</h3>
                <ol>
                        <li>It is an online event for English poetry.</li>
                        <li>No restrictions in number of entries.</li>
                        <li>Do not advertise any person or political agenda.</li>
                        <li>You are not allowed to hurt the sentiments of any person, group, community or religion, violation will lead to disqualification.</li>
                        <li>Use of abusive language is prohibited.</li>
                        <li>Plagiarism is prohibited. Any participant found to have copied the poetry will be disqualified and marks will be deducted from the team.</li>
                        <li>Decision of judges shall be final</li>
                </ol>
            </div>
            <br>
        </div>
    </div>
    <div id='mighty'>
        <div class='layout-full' id='7a2b2b'>
            <div class='header'>
                <h1>War of Mighty <br> (Story Writing)</h1>
                <img src="/static/events/Literary/images/story_writing.jpg" class="preface" />
            </div>
            <div class='text-container'>
                <h2>Story telling is an effective way to communicate. The art of writing has the ability to draw us in, to inspire us, to make connections and to make us equal, understood and whole. Everyone has a story to tell. <br> Avirbhav brings you an opportunity to tell your tale. Let your pen be your sword and words your armor in this battle. </h2>
                <h3>Rules:</h3>
                <ol>
                    <li>This is an individual event. No restrictions on number of entries.</li>
                    <li>Participants shall be provided with rough sheets.</li>
                    <li>Participants are required to bring their own pen/pencils.</li>
                    <li>Frame of story shall be given on spot.</li>
                    <li>Time allotted to each participant is 1.5 hour.</li>
                    <li>Your story should follow the frame given on spot. Story should have an introduction, body and conclusion. Plot twist in story is encouraged.</li>
                </ol>

            </div>
            <br>
        </div>
    </div>

    <div id='open-mic'>
            <div class='layout-full' id='7ab2b'>
                <div class='header'>
                    <h1>Open Mic</h1>
                    <img src="/static/events/Literary/images/open-mic.png" class="preface" />
                </div>
                <div class='text-container'>
                        <h2>
                            A mic for all, bringing beginners, amateurs &amp; professionals under the same roof, sharing the
                            same stage with their poetries, stories and experiences and competing for the audiences’
                            applause.
                        </h2>
                    <h3>Rules:</h3>
                    <ol>
                            <li>Maximum 10 participants are allowed from each house.</li>
                            <li>Every participants will be allowed 5-7 minutes for his/her performance.</li>
                            <li>
                                The performance will be judged on the participants’ ”content” , “ confidence” and
                                “fluency”.
                            </li>
                            <li>The content may vary from poetry to stories, from memories to experiences.</li>
                    </ol>
    
                </div>
                <br>
            </div>
        </div>
    

{% endblock %}