{% extends 'base3.html' %}

{% block head %}
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            font: 400 15px/1.8 "Lato", sans-serif;
            color: #777;
        }

        .bgimg-1,
        .bgimg-2,
        .bgimg-3 {
            position: relative;
            opacity: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .bgimg-1 {
            background-image: url("/static/events/pubg/pubg2.jpg");
            height: 100%;
        }

        .caption {
            position: absolute;
            left: 0;
            width: 100%;
            color: #000;
        }

        .caption span.border {
            background-color: #111;
            color: #fff;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
        }

        h3 {
            letter-spacing: 5px;
            text-transform: uppercase;
            font: 20px "Lato", sans-serif;
            color: #fff;
            padding-left: 50px;
            padding-top: 50px;

        }

        .rules {
            letter-spacing: 5px;
            font: 20px "Lato", sans-serif;
            color: #fff;
            padding-left: 50px;
            padding-top: 50px;
        }

        ol {
            padding-right: 600px;
            padding-left: 100px;
            color: #fff;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="bgimg-1">
        <div class="caption">
            <h3>PMJKS <br> (PUBG MOBILE JK SERIES)</h3>
        </div><br><br>
        <div class="rules">
            <h3>Rules:</h3>
            <ol>
                <li>In order to participate in this tournament, a Squad must consist of at least four players. All the players must be from JK. </li>
                <li>Only 3 teams at max from a house are allowed to participate.</li>
                <li>All players must use their Mobile Phones to play the game and all players must install the newest version of the game in order to participate in PUBGM JK Series.</li>
                <li>Squads are responsible for their own technical issues (hardware/internet). Matches will not be rescheduled because of technical issues and matches will continue to be played nevertheless. If the warm-up time in starting island is exceeded, the game goes on, even if the issue is not resolved.</li>

                <li>If any player, particular player is known to be using emulators or any other kind of 3rd party tools/hacks which allows players to play the game in PC, the whole squad will get disqualified from the tournament.</li>
                <li>In case a player gets disconnected from a match, the Squad is allowed to continue to play the match at a disadvantage.</li>
            </ol>
        </div>
    </div>

{% endblock %}