{% extends 'base3.html' %}
{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="text-center">Points Table</h1>
  <table class="table bg-primary">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Lenisters</th>
        <th>Baratheons</th>
        <th>Targaryens</th>
        <th>Starks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>After Auction</td>
        <td>90</td>
        <td>75</td>
        <td>45</td>
        <td>-40</td>
      </tr>
      {% for point in points %}
      <tr>
        <td>{{point.name}}</td>
        <td>{{point.lenisters}}</td>
        <td>{{point.baratheons}}</td>
        <td>{{point.targaryens}}</td>
        <td>{{point.starks}}</td>
      </tr>
      {% endfor %}
      <tr>
          <th>Total</th>
          <th>{{lenisters}}</th>
          <th>{{baratheons}}</th>
          <th>{{targaryens}}</th>
          <th>{{starks}}</th>
        </tr>
    </tbody>
  </table>
</div>
{% endblock %}