{% extends 'base3.html' %}

{% block head%}
    <!-- CSS -->
    <!-- Bootstrap CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/css/bootstrap.min.css">
    <!-- Icon Font CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/css/material-design-iconic-font.min.css">
    <!-- Plugins CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/css/plugins.css">
    <!-- Style CSS
	============================================ -->
    <link rel="stylesheet" href="/static/events/singing/style.css">
    <!-- Modernizer JS
	============================================ -->
    <script src="/static/events/singing/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        ol>li {
            padding: 2px;
        }
    </style>

{% endblock %}

{% block body %}
    <!-- Body main wrapper start -->
    <div class="wrapper fix">
        <!--Hero Area Start-->
        <div id="hero-area" class="hero-area hero-area">

            <!--Hero Slider-->
            <div class="hero-slider">

                <!--Hero Slide Item Start-->
                <div class="hs-item">
                    <!--Hero Slide Image-->
                    <img src="/static/events/singing/img/hero/1.jpg" alt="">
                    <!--Hero Slide Content-->
                    <div class="hs-content text-center">
                        <div class="container">
                            <h1>If I cannot fly, <br>let me sing</h1>
                            <p class="text-center">Stephen Sondheim</p>
                        </div>
                    </div>
                </div>
                <!--Hero Slide Item End-->



            </div>

        </div>
        <!--Hero Area End-->

        <!--Feature Area Start-->
        <div id="feature-area" class="feature-area bg-shape left pb-120 pt-120">
            <div class="container">

                <!--Section Title Start-->
                <div class="row">
                    <div class="section-title section-title-dark text-center col-xs-12 mb-80">
                        <h1>Featured <span>Events</span></h1>
                    </div>
                </div>
                <!--Section Title End-->

                <!--Ganpoka Feature Start-->
                <div class="row">

                    <div class="feature-slider slick-slider">

                        <!--Ganpoka Feature Item-->
                        <div class="feature-item">
                            <div class="image"><img src="/static/events/singing/img/feature/2.jpg" alt=""></div>
                            <div class="content fix">
                                <div class="left float-left">
                                    <h4><a href="javascript:void(0)">Alone warbler</a></h4>
                                    <p><a href="javascript:void(0)">SOLO SINGING</a></p>
                                </div>
                            </div>
                        </div>

                        <!--Ganpoka Feature Item-->
                        <div class="feature-item">
                            <div class="image"><img src="/static/events/singing/img/feature/3.jpg" alt=""></div>
                            <div class="content fix">
                                <div class="left float-left">
                                    <h4><a href="javascript:void(0)">Chanters Alliance</a></h4>
                                    <p><a href="javascript:void(0)">DUET-SINGING</a></p>
                                </div>
                            </div>
                        </div>

                        <!--Ganpoka Feature Item-->
                        <div class="feature-item">
                            <div class="image"><img src="/static/events/singing/img/feature/1.jpg" alt=""></div>
                            <div class="content fix">
                                <div class="left float-left">
                                    <h4><a href="javascript:void(0)">Clash Of Voice</a></h4>
                                    <p><a href="javascript:void(0)">FACE-OFF</a></p>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <!--Ganpoka Feature End-->

            </div>
        </div>
        <!--Feature Area End-->

        <!--Gallery Area Start-->
        <div id="gallery-area" class="gallery-area overlay pb-90 pt-120">
            <div class="container">

                <!--Section Title Start-->
                <div class="row">
                    <div class="section-title section-title-light text-center col-xs-12 mb-80">
                        <h1>The Viral <span>Voice</span></h1>
                        <br>
                        <h2 class="text-center">Grab the mike n rock the stage. </h2>
                    </div>
                </div>
                <!--Section Title End-->

                <div class="text-white">
                    <h1>Rules:</h1>

                    <ol class="text-primary" style="font-size: 2.5rem;">
                        <li>From each team 2-3 entries are required. </li>
                        <li>Time limit for each song is 3-4 mins.</li>
                        <li>Participants can perform the song with any instrument or with the karaoke.</li>
                        <li>Paticipants are requested to submit their karaoke two days prior the event to the event coordinators (if performing with karaoke).</li>
                        <li>The decision of judges will be final. </li>
                    </ol>

                </div>

            </div>
        </div>
        <!--Gallery Area End-->

        <!--Event Area Start-->
        <div id="event-area" class="event-area pb-80 pt-120">
            <div class="container">

                <!--Section Title Start-->
                <div class="row">
                    <div class="section-title section-title-light text-center col-xs-12 mb-80">
                        <h1>Sync The <span>Voice</span></h1>
                    </div>
                </div>
                <!--Section Title End-->

                <div class="text-white">
                    <h1>Rules:</h1>

                    <ol class="text-primary" style="font-size: 2.5rem;">
                        <li>From each team only 2 entries will be allowed.it might be a boy-boy or boy-girl or girl-girl.</li>
                        <li>Time limit is 3-4 mins</li>
                        <li>Paticipants are requested to submit their karaoke two days prior the event to the event coordinators(if performing with karaoke).</li>
                        <li>The decision of judges will be final.</li>
                    </ol>

                </div>

            </div>
        </div>
        <!--Event Area End-->

        <!--Video Area Start-->
        <div id="video-area" class="video-area overlay pb-100 pt-120">
            <div class="container">

                <!--Section Title Start-->
                <div class="row">
                    <div class="section-title section-title-light text-center col-xs-12 mb-80">
                        <h1> Clash Of <span>Voice</span></h1>
                    </div>
                </div>
                <!--Section Title End-->

                <div class="text-white">
                    <h1>Rules:</h1>

                    <ol class="text-primary" style="font-size: 2.5rem;">
                        <li>It will be a team to team battle.</li>
                        <li>Solo, duet and group singing can be performed in any order.</li>
                        <li>Each team have to perform 4 songs turn by turn in any order.</li>
                        <li>Extra points will be given for your energy and Attitude.</li>
                        <li>These participants can only perform with the karaoke.</li>
                        <li>Paticipants are requested to submit their karaoke two days prior the event to the event coordinators.</li>
                        <li>The decision of judges will be final.</li>
                    </ol>

                </div>
            </div>
        </div>
        <!--Video Area End-->


    </div>
    <!-- Body main wrapper end -->

    <!-- JS -->

    <!-- jQuery JS
============================================ -->
    <script src="/static/events/singing/js/vendor/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap JS
============================================ -->
    <script src="/static/events/singing/js/bootstrap.min.js"></script>
    <!-- Plugins JS
============================================ -->
    <script src="/static/events/singing/js/plugins.js"></script>
    <!-- Ajax Mail JS
============================================ -->
    <script src="/static/events/singing/js/ajax-mail.js"></script>
    <!-- Main JS
============================================ -->
    <script src="/static/events/singing/js/main.js"></script>


    {% endblock %}