{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>Castle ward</span></h1>
                
                <p>Plaster of Paris is a great material to use for basic sculpture and craft project because it is easy to prepare and sets in a few minutes.</p>
                <h3>Rules:</h3>
                <ul>
                        <li>Theme of event – castle making.</li>
                        <li>A team should consist of 4 members.</li>
                        <li>Only 1 team is allowed from each group.</li>
                        <li>Participants shall be provided with Plaster of Paris Powder, water, mixing container, spoon, gloves and newspaper.</li>
                        <li>Participants are required to bring their own paints.</li>
                        <li>Time allotted to each team is 2 hours.</li>
                        <li>Points will be allotted according to your creation.</li>
                        
                </ul>
{% endblock %}