{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>Double crossing</span></h1>
                <p>This competition is combination of painting and collage making. Two members will be doing painting and another two members will be doing collage making. After sometime they will be swapped.</p>
                                <h3>Rules:</h3>
                <ul>
                        <li>A team should consist of 4members.</li>
                        <li>Only 3 teams are allowed from each group.</li>
                        <li>Chart papers and newspapers will be provided to the participants.</li>
                        <li>Any other requirements will be participants responsibility.</li>
                       <li>Allotted time will be 1 hour.</li>
                       <li>Judgment will be based on the beauty of both the creativity.</li>
                        
                    
                </ul>
{% endblock %}