{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>Many Faced God</span></h1>
                <p>This competition is combination of crown creation and mask making.</p>
                <p>A crown is most often resembles royalty but it also takes on a symbolic meaning of strength, courage, and respect.  And mask covers your reality.</p>
                                <h3>Rules:</h3>
                <ul>
                        <li>A team should consist of 2 members.</li>
                        <li>Only 3 teams are allowed from each group.</li>
                        <li>For mask making Mask will be provided to you at the spot.</li>
                        <li>For crown chart paper and cardboard will be provided and rest should be arranged by participants.</li>
                        <li>Crown making should be based on “battle of throne” theme.</li>
                        <li>Allotted time will be 1hour.</li>
                        <li>Judgment will be based on creativity of both the art work.</li>
                        
                </ul>
{% endblock %}