{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>Feast of Crows</span></h1>
                <p>Cooking is all about people. Food maybe the only universal thing that really has the power to bring everyone together. No matter what culture, everywhere around the world, people get together to  eat. But without  fire.</p>
                                <h3>Rules:</h3>
                <ul>
                        <li>A team should consist of 2 participants.</li>
                        <li>As many team are allowed in this competition.</li>
                        <li>All ingredients should be arranged by participants by themselves.</li>
                        <li>Allotted time will be 45 minutes.</li>
                        <li>Judgment will be based on your presentation and taste of the dish.</li>
                            
                </ul>
{% endblock %}