{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>Raven</span></h1>
                <p>This competition is combination of making invitation scroll and calligraphy. On the behalf of the great majesty make an invitation card, inviting people of the kingdom for the grand event AVIRBHAV.</p>
                                <h3>Rules:</h3>
                <ul>
                        <li>Creation should be based on “battle of throne” theme.</li>
                        <li>A team should consist of 2 members.</li>
                        <li>Only 3 teams are allowed from eachgroup.</li>
                        <li>Scroll invitation rod and chart paper will be provided toyou.</li>
                        <li>Participants should bring the rest required material by themselves.</li>
                        <li>Time allotted for this will be of 1hour.</li>
                        <li>Points will be given on the basis of writingbase/invitation card and on your calligraphy skills.</li>
                        
                </ul>
{% endblock %}