{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>The Rebirth</span></h1>
                <p>Making the best out of waste has been a part of human life since the early ages. It was the human creative mind that gave birth to this extraordinary idea of using unwanted material in a useful way.</p>
                                <h3>Rules:</h3>
                <ul>
                        <li>Each team should consist of 2 members.</li>
                        <li>Only 3 teams are allowed from each group.</li>
                        <li>Required material should be arranged by participants themselves.</li>
                        <li>Allotted time will be 1hour.</li>
                        <li>Judgment will be based on your creation.</li>
                        
                </ul>
{% endblock %}