{% extends 'events/Craft/template.html' %}

{% block content %}

               <h1><span>Vanity Fair</span></h1>
                
                <p>Rangoli is a fabulous hand drawing art of India. It is a way to express imagination.</p>
                                <h3>Rules:</h3>
                <ul>
                        <li>A team should consist of 4 members.</li>
                        <li>Only 1 team is allowed from each kingdom.</li>
                        <li>Rangoli art should be of 4ft x 4ft</li>
                        <li>Maximum time to complete the Rangoli is two hours.</li>
                        <li>Teams will be responsible for arrangement of the material required to prepare Rangoli.</li>
                        <li>Judgment will be based on appearance and color combination of your art.</li>
                        
                </ul>
{% endblock %}