<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>AVIRBHAV2k19 | Season 8</title>
    <link href="/static/events/index/styl.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/events/index/js/jquery.pngFix.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).pngFix();
        });

    </script>
    <!--[if IE]><style type="text/css">body {behavior: url(csshover3.htc);} </style><![endif]-->
</head>

<body>
    <div id="bg_ilustrace"></div>

    <div id="hlavni">
        <div id="pozadi_spodni">
            <div id="logo"><a href="" title="Avirbhav 2k19"><span class="hidden">Avirbhav 2k19</span></a></div>

            <div id="menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'pointstable' %}">Points Table</a></li>
                    <li><a href="{% url 'sponsers' %}">Sponsers</a></li>
                </ul>
            </div>
            
            <div id="hexagony">

                <div class="hexagon_handpainting"><a href="{% url 'sports' %}"><span>Sports</span></a></div>
                <div class="hexagon_uv_bodypainting"><a href="{% url 'literary' %}"><span>Literary</span></a></div>
                <div class="hexagon_bodypainting"><a href="{% url 'technical' %}"><span>Technical</span></a></div>
                <div class="hexagon_facepainting"><a href="{% url 'craft' %}"><span>Craft<br>Valley</span></a></div>
                <div class="hexagon_wallpainting"><a href="{% url 'dancing' %}"><span>Feel The Beat</span></a></div>
                <div class="hexagon_temporary_tattoo"><a href="{% url 'singing' %}"><span>La-Musique</span></a></div>
                <div class="hexagon_glitter_tattoo"><a href="{% url 'stage' %}"><span>Stage Craft</span></a></div>
                <div class="hexagon_airbrush"><a href="{% url 'rampwalk' %}"><span>Fashionista</span></a></div>
                <div class="hexagon_airbrush_tattoo"><a href="{% url 'informal' %}"><span>Informal</span></a></div>
                <div class="hexagon_special_effect_fx"><a href="{% url 'pubg' %}"><span>Online Games</span></a></div>
                <div class="hexagon_movie_blood"><a href=""><span>Egg Drop</span></a></div>
            </div>

            <div id="uvodni_obsah">
                <!--                <h1>Hello JKIATians</h1>-->
                <div id="bloktext">
                    <!--
<div class="ukazky_tvorby">
    <a href=""><span>Hello</span></a></div>

<div id="bloktext_druhy">Namíchejte si klidně sami originální směs z mých služeb a&nbsp;neváhejte mě <a href="kontakt.php">kontaktovat</a>.</div>-->

                </div>


            </div>
        </div>
    </div>
</body>

</html>
